<header>
    <picture>
        <source media="(max-width: 768px)"
            srcset="src/img/UocPeace.png?quality=50&width=200, src/img/UocPeace.png?width=200 2x">
        <img src="src/img/UocPeace.png?quality=50" srcset="src/img/UocPeace.png 2x" alt="UOC Peace, logotip">
    </picture>

    <h1>Cerquem l'aprovat a la Grand Line!</h1>
    <nav class="menu" aria-label="Menú de navegació">
        <a href="/index.html" class="portada"><span data-feather="home" aria-hidden="true"></span>Portada</a>
        <a href="/categoria.html" class="categoria"><span data-feather="trello" aria-hidden="true"></span>Categoria</a>
        <a href="/presentacio.html" class="presentacio"><span data-feather="layout"
                aria-hidden="true"></span>Presentació</a>
        <a href="/enllacos.html" class="enllacos"><span data-feather="link" aria-hidden="true"></span>Enllaços</a>
    </nav>
</header>