<header>
    <picture>
        <source media="(max-width: 768px)"
            srcset="src/img/UocPeace.png?quality=50&width=200, src/img/UocPeace.png?width=200 2x">
        <img src="src/img/UocPeace.png?quality=50" width="300px" height="113px" srcset="src/img/UocPeace.png 2x"
            alt="UOC Peace, logotip">
    </picture>

    <h1>Cerquem l'aprovat a la Grand Line!</h1>
    <nav class="menu" aria-label="Menú de navegació">
        <a href="/index.html" class="portada"><img
          src="/src/img/icons/home.svg"
          alt="Icona de Portada"
          height="24"
          width="24" />Portada</a>
        <a href="/categoria.html" class="categoria"><img
          src="/src/img/icons/trello.svg"
          alt="Icona de Categoria"
          height="24"
          width="24" />Categoria</a>
        <a href="/presentacio.html" class="presentacio"><img
          src="/src/img/icons/layout.svg"
          alt="Icona de Presentacio"
          height="24"
          width="24" />Presentació</a>
        <a href="/enllacos.html" class="enllacos"><img
          src="/src/img/icons/link.svg"
          alt="Icona de Enllaços"
          height="24"
          width="24" />Enllaços</a>
    </nav>
</header>